Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow

# for some frontend bugs
# make sure to run:
#  npm install 

# for deployment later
# gunicorn
# python-dotenv
# whitenoise
# psycopg2-binary